{% extends 'wdb/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{%  block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h1 class="mb-0">{{ title }}</h1>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Employee ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>License</th>
                            <th>End of Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for driver in employee_drivers %}
                            <tr>
                                <td>{{ driver.id_employee.id_employee }}</td>
                                <td>{{ driver.id_employee.name }}</td>
                                <td>{{ driver.id_employee.email }}</td>
                                <td>{{ driver.license }}</td>
                                <td>{{ driver.end_of_action }}</td>
                                <td>
                                    <form method="get" action="{% url 'update' 'employee_drivers' driver.pk %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success btn-sm">Update</button>
                                    </form>
                                </td>
                                <td>
                                    <form method="post" action="{% url 'delete' 'employee_drivers' driver.pk %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <form method="post" action="{% url 'list' 'employee_drivers' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Add Client</button>
                </form>
            </div>
        </div>
        <a href="{% url 'main' %}" class="btn btn-primary mt-3">Back</a>
    </div>
{% endblock %}
