{% extends 'wdb/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{%  block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h1 class="mb-0">{{ title }}</h1>
            </div>
            <div class="container mt-5">
                <form method="GET" action="{% url 'list' 'employees' %}" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search by name</button>
                </form>
                {% if search_query %}
                    <p>Search results for: <strong>{{ search_query }}</strong></p>
                {% endif %}
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Telephone</th>
                            <th>Post</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                            <tr>
                                <td>{{ employee.id_employee }}</td>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.email }}</td>
                                <td>{{ employee.telephone }}</td>
                                <td>{{ employee.id_post.post }}</td>
                                <td>
                                    <form method="get" action="{% url 'update' 'employees' employee.id_employee %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success btn-sm">Update</button>
                                    </form>
                                </td>
                                <td>
                                    <form method="post" action="{% url 'delete' 'employees' employee.id_employee %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


                <form method="post" action="{% url 'list' 'employees' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Add Client</button>
                </form>
            </div>
        </div>
        <a href="{% url 'main' %}" class="btn btn-primary mt-3">Back</a>
    </div>
{% endblock %}
